---
import { cn } from "@/lib/utils";

const { id, title, class: className = "", "background-text": backgoundText = "" } = Astro.props;
---

<section class="relative" id={id}>
	<div class={cn("container max-w-7xl", className)}>
		<h1 class="mb-8 text-4xl font-bold capitalize dark:text-white">{title}</h1>
		<slot />
	</div>
	{
		backgoundText && (
			<div class="absolute left-0 top-0 -z-10 md:left-32">
				<p class="select-none text-[15rem] font-bold text-neutral-200/50 dark:text-neutral-900">
					{backgoundText}
				</p>
			</div>
		)
	}
</section>
