---
import { cn } from "@/lib/utils";
interface Props {
	id: string;
	title?: string;
	class?: string;
}
const { id, title, class: className } = Astro.props;
---

<section class={cn("relative ", className)} id={id}>
	<div class="container max-w-7xl">
		{title && <h1 class="mb-8 text-4xl font-bold capitalize md:text-5xl">{title}</h1>}
		<slot />
	</div>
</section>
