---
import { Icon } from "astro-iconify";
import BaseContent from "./BaseContent.astro";

interface Props {
	class?: string;
}
const { class: className } = Astro.props;
---

<BaseContent id="skills" title="Skills" class={className}>
	<div
		class="inline-flex flex-wrap items-center gap-3 py-2 text-neutral-950 dark:text-neutral-100">
		<Icon name="simple-icons:astro" />
		<Icon name="logos:vue" />
		<Icon name="logos:tailwindcss-icon" />
		<Icon name="logos:python" />
		<Icon name="logos:fastapi-icon" />
		<Icon name="logos:html-5" />
		<Icon name="logos:css-3" />
		<Icon name="logos:typescript-icon" />
		<Icon name="logos:javascript" />
	</div>
</BaseContent>
<style>
	svg {
		width: 32px;
		height: 32px;
	}
</style>
