---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" error>
	<div class="flex flex-col items-center justify-center h-full md:flex-row">
		<h1 class="py-3 font-bold text-center text-9xl lg:w-1/2">
			(&#62;_&#60;)
		</h1>
		<div class="mt-8 space-y-2 text-center lg:text-left lg:w-1/2">
			<h1 class="text-5xl font-bold lg:text-6xl">404</h1>
			<h3 class="text-xl font-bold">UH OH! You're lost.</h3>
			<p>
				The page you are looking for does not exist. How you got here is a
				mystery. But you can click the button below to go back to the
				homepage.
			</p>
			<div class="pt-2">
				<a
					href="/"
					type="button"
					class="py-1 px-2 h-7 w-min bg-sky-800 rounded-[4px] inline-flex items-center justify-center hover:bg-primary hover:text-neutral min-w-[64px] font-bold text-white text-sm hover:bg-orange-500"
					>Home
				</a>
			</div>
		</div>
	</div>
</Layout>
