---
import Layout from "@/layouts/layout.astro";
import SiteHeading from "@/components/SiteHeading.astro";
import { SITE } from "@/config";
import Heading from "@/components/Heading.astro";
import About from "@/components/content/About.astro";
import Header from "@/components/header/Header.astro";
import Educations from "@/components/content/Educations.astro";
import Skills from "@/components/content/Skills.astro";
import Project from "@/components/content/Project.astro";
---

<Layout title="me" description={SITE.shortDercription}>
	<div class="relative overflow-x-hidden">
		<SiteHeading>
			<Header />
			<Heading />
		</SiteHeading>
		<main class="mt-40 min-h-screen w-full space-y-20 md:mt-44 md:space-y-24">
			<About />
			<Skills />
			<Educations />
			<Project />
		</main>
	</div>
</Layout>
