---
import { Code } from "astro/components";
import Hero from "../components/Hero.astro";
import PictureProfile from "../components/PictureProfile.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div
		class="flex flex-col h-full gap-8 p-6 md:grid md:grid-cols-[60%_1fr] md:content-center"
	>
		<Hero
			title="Ahmad nur"
			tagline="Hello all. I'm"
			className="md:justify-self-center gap-2 md:gap-8"
		>
			<div id="code" class="font-sans text-sm md:text-base">
				<Code
					code={`# you can also see it on my Github page\nlink: str = "https://github.com/ahmaadn"\nprint(link)`}
					lang="python"
					theme="css-variables"
				/>
				<span>&gt;&gt;&gt;&nbsp;</span><a
					href="https://github.com/ahmaadn"
					class="text-sky-700 hover:underline"
					>https://github.com/ahmaadn</a
				>
			</div>
		</Hero>
		<div class="flex items-center justify-center">
			<div class="relative w-56 lg:w-64 group">
				<div
					class="absolute inset-0 transition-all duration-300 ease-in-out origin-bottom-left transform rounded-xl -rotate-6 bg-gradient-to-r from-red-500 to-orange-500 group-hover:from-sky-800 group-hover:to-blue-500 group-hover:origin-bottom-right group-hover:rotate-6"
				>
				</div>
				<PictureProfile src="/assets/profile_pict.jpg" />
			</div>
		</div>
	</div>
</Layout>

<style>
	#code {
		background-color: transparent !important;
		--astro-code-token-comment: #2b2c2d;
		--astro-code-token-string-expression: #0369a1;
		--astro-code-token-function: #dc2626;
		--astro-code-token-constant: #dc2626;
	}
</style>
