---
import Page from "../layouts/Page.astro";
import { Picture } from "astro-imagetools/components";
---

<Page>
   <div class="container">
      <header class="flex flex-col gap-10 lg:flex-row lg:py-20 lg:items-center">
         <div class="mt-10 lg:w-3/5 lg:mt-0">
            <div class="px-4 py-5">
               <h1 class="text-5xl font-bold text-gray-300">
                  Hello 👋 <br class="md:hidden" /> I'm Ahmad nur
               </h1>
               <p class="text-xl font-medium text-gray-300">
                  saya programmer sekaligus mahaisiwa yang sedang menempuh
                  pendidikan di perguaran tinggi
               </p>
            </div>
         </div>
         <div class="relative flex items-center justify-center lg:w-2/5">
            <Picture
               src="/assets/profile_pict.jpg"
               alt="ahmad nur sahid"
               width="480"
               height="480"
               breakpoints={[400, 800]}
               preload="webp"
               attributes={{
                  picture: {
                     class: "w-[16rem] overflow-hidden rounded-2xl shadow-md shadow-gray-300",
                  },
               }}
            />
         </div>
      </header>
   </div>
</Page>

<style>
   .grid-background {
      position: absolute;
      top: -20px;
      left: 35px;
      min-height: 320px;
      min-width: 240px;
      background-color: rgba(230, 230, 247, 0);
      opacity: 0.5;
      background-repeat: repeat;
      background-image: linear-gradient(#003566 2px, transparent 1px),
         linear-gradient(to right, #003566 2px, transparent 1px);
      background-size: 20px 20px;
   }
</style>
