---
import Layout from "../layouts/layout.astro";
import SiteHeading from "../components/SiteHeading.astro";
import { SITE } from "../config";
import Heading from "../components/Heading.astro";
import About from "../components/content/About.astro";
---

<Layout title="me" description={SITE.shortDercription}>
	<div class="relative overflow-x-hidden">
		<SiteHeading>
			<Heading />
		</SiteHeading>
		<main class="mt-20 min-h-screen w-full md:mt-40">
			<About />
		</main>
	</div>
</Layout>
