---
import ThemeButton from "../ThemeButton.astro";
import Navbar from "./Navbar.astro";
import NavbarMenu from "./NavbarMenu.astro";
import { Icon } from "astro-iconify";
---

<header class="w-full py-8">
	<div class="flex w-full flex-col justify-center gap-y-4">
		<div class="flex justify-between">
			<Navbar />
			<div class="inline-flex items-center justify-center space-x-4 text-base">
				<ThemeButton />
				<a
					href="/resume.pdf"
					target="_blank"
					download="/resume.pdf"
					class="blend group flex w-fit items-center gap-2 rounded border border-neutral-200 px-3 py-2 transition-colors hover:border-neutral-800 hover:bg-neutral-800">
					<Icon name="mdi:resume" width="20" height="20" />
					<span class="blend text-sm capitalize">Resume</span>
				</a>
			</div>
		</div>
		<!-- Mobile -->
		<NavbarMenu class="gap-4 text-sm md:hidden" />
	</div>
</header>
