---
import { cn } from "@/lib/utils";

const { class: className } = Astro.props;

const menuItems = [
	{
		name: "Skills",
		link: "#skills",
	},
	{
		name: "Education",
		link: "#education",
	},
	{
		name: "Project",
		link: "#project",
	},
	{
		name: "Contact",
		link: "#contact",
	},
];
---

<ul class={cn("inline-flex gap-8 text-base font-medium", className)}>
	{
		menuItems.map((item) => (
			<li>
				<a class="link" href={item.link}>
					{item.name}
				</a>
			</li>
		))
	}
</ul>
