---
---

<button
  type="button"
  id="burger"
  class="flex flex-col items-center justify-center h-54 w-54 md:hidden group"
>
  <span
    class="transition duration-300 ease-in-out w-4 h-[1px] block bg-gray-300 my-0.5 -translate-x-1/2 group-[.active]:translate-x-1/2 group-[.active]:bg-primary"
  ></span>
  <span
    class="transition duration-300 ease-in-out w-4 h-[1px] block bg-gray-300 my-0.5"
  ></span>
  <span
    class="transition duration-300 ease-in-out w-4 h-[1px] block bg-gray-300 my-0.5 -translate-x-1/2 group-[.active]:translate-x-1/2 group-[.active]:bg-primary"
  ></span>
</button>
