---
import profile_pict from "../assets/images/profile_pict_3.jpg";
import { Image } from "astro:assets";
---

<div class="inline-flex w-full items-center justify-center">
	<Image src={profile_pict} alt="Ahmad nur sahid" class="w-56 overflow-hidden rounded-full" />
</div>
