---
import { cn } from "@/lib/utils";
import { buttonVariants } from "./ui/button";
import LinkNav from "./link-nav.astro";
interface Props {
	className?: string;
}

interface BreadcrumbItem {
	text: string;
	href: string;
}

let parts: Array<BreadcrumbItem> = [{ text: "Home", href: "/" }];
const { className } = Astro.props;
const paths = Astro.url.pathname.split("/").filter((x) => x);

paths.forEach((text, i) => {
	const href = `/${paths.slice(0, i + 1).join("/")}`;
	parts.push({
		text: text.replace(/[-_]/g, " "),
		href,
	});
});
---

<nav aria-label="Breadcrumb" id="breadcrumbs" class="font-mono inline-flex">
	<ol class="breadcrumbs flex min-h-min items-center" role="list">
		{
			parts.map(({ text, href }) => (
				<li class="breadcrumb flex items-center" role="listitem">
					<LinkNav
						href={href}
						className={cn(buttonVariants({ variant: "link" }), "p-0", className)}
					>
						{text}
					</LinkNav>
				</li>
			))
		}
	</ol>
</nav>

<style>
	.breadcrumbs li + li::before {
		content: "/";
		@apply ml-2 mr-3 block;
	}
</style>
