---
import { Icon } from "astro-iconify";
const { name, icon } = Astro.props;
---

<a
	{...Astro.props}
	class="blend group flex w-fit items-center gap-2 rounded border border-neutral-200 px-3 py-2 hover:bg-neutral-100 dark:border-neutral-700 hover:dark:bg-neutral-800">
	<Icon name={icon} width="20" height="20" />
	<span
		class="blend text-sm capitalize text-neutral-800 group-hover:text-black dark:text-neutral-200 group-hover:dark:text-white"
		>{name}</span
	>
</a>
