---
import { SITE } from "@/config";
import SosialLink from "./SosialLink.astro";
---

<div class="flex max-w-3xl flex-col gap-y-4 md:gap-y-4">
	<p class="flex h-16 items-end text-2xl font-medium md:h-36 md:text-4xl">Hello</p>
	<h1 class="text-3xl font-bold md:text-6xl">i'm {SITE.author}</h1>
	<div class="space-y-4 md:h-32">
		<p class="text-lg">
			{SITE.shortDercription}
		</p>
		<SosialLink />
	</div>
</div>
