---
import { cn } from "../lib/utils";
interface Props {
	id: string;
	title?: string;
	class?: string;
}
const { id, title, class: className } = Astro.props;
---

<section class={cn("space-y-4", className)} id={id}>
	{
		title && (
			<h1 class="scroll-mt-4 text-3xl font-semibold text-neutral-950 dark:text-neutral-100">
				{title}
			</h1>
		)
	}
	<slot />
</section>
