---
---

<footer class="text-gray-300 py-10 px-10 flex flex-col gap-5 md:flex-row md:justify-between border-t shadow-md items-center border-gray-300 border-opacity-10">
  <div class="flex flex-col text-center md:flex-row md:gap-3">
    <p>Powered by <a href="/">Astro</a> and Hosted by <a href="/">Netlify</a></p>
    <p>&copy; 2023 Ahmad Nur Sahid</p>
  </div>
  <div class="text-md flex gap-3 justify-center">
    <a href="">Github</a>
    <a href="">Instagram</a>
    <a href="">Facebook</a>
  </div>
</footer>
