---
import BaseContent from "./content/BaseContent.astro";
import SosialLink from "./SosialLink.astro";
import { cn } from "@/lib/utils";

interface Props {
	class?: string;
	mail: string;
}
const { class: className, mail } = Astro.props;
---

<footer class={cn(className)}>
	<BaseContent id="footer" title="Get in touch">
		<p>
			Email me at <a href=`mailto:${mail}` class="link italic">{mail}</a> linkor follow me via my
			social links.
		</p>
		<SosialLink />
	</BaseContent>
</footer>
