---
import Avatar from "../components/Avatar.astro";
---

<div class="flex grid-cols-[1fr_40%] flex-col gap-y-6 md:grid">
	<div class="flex flex-col gap-y-4 md:gap-y-6">
		<p class="flex h-16 items-end text-2xl md:h-36 md:text-4xl">Hello</p>
		<h1 class="text-3xl font-bold md:text-6xl">i'm Ahmad nur sahid</h1>
		<p class="text-xl">Fullstack Developer</p>
	</div>
	<div class="flex items-end justify-center">
		<Avatar />
	</div>
</div>
