---
interface Props {
	title: string;
	tagline?: string;
	className?: string;
}
const { className = "", title, tagline } = Astro.props;
---

<header class:list={["flex flex-col", className]}>
	<div class="flex flex-col gap-1">
		{tagline && <p class="text-lg font-medium">{tagline}</p>}
		<h1 class="text-5xl font-bold md:text-6xl lg:text-8xl">{title}</h1>
	</div>
	<slot />
</header>
