---
interface Props {
   title: string;
   tagline?: string;
   align?: "center" | "left" | "right";
}
const { align = "center", title, tagline } = Astro.props;
---

<header class:list={["py-16 px-6 space-y-1", `text-${align}`]}>
   <h1 class="text-6xl font-bold text-base-100">{title}</h1>
   {tagline && <p class="text-lg font-medium text-base-100">{tagline}</p>}
</header>
