---
import { PROJECTS } from "../config";
import Badge from "./Badge.astro";

const { className = "" } = Astro.props;

let latestProject = PROJECTS.filter((project) => project?.latest || false)[0] || PROJECTS[0];
---

<div class:list={["flex", className]}>
	<div class="flex flex-col gap-y-4 lg:max-w-lg">
		<div class="">
			<a href={latestProject.url} target="_blank" class="link text-lg font-semibold"
				>{latestProject.name}</a
			>
			<p class="text-sm">{latestProject.descShort}</p>
		</div>
		<div class="inline-flex flex-wrap gap-2">
			{latestProject.tags.map((tag) => <Badge>{tag}</Badge>)}
		</div>
	</div>
</div>
