---
import type { Link } from "@/types";
import LinkNav from "./link-nav.astro";
import Icon from "./icon.astro";
import { cn } from "@/lib/utils";
import { buttonVariants } from "./ui/button";

interface Props extends Link {
	className?: string;
}

const { className, label, url, icon, external } = Astro.props;
---

<LinkNav
	className={cn(
		buttonVariants({ variant: "link" }),
		"inline-flex w-full items-center gap-x-1 rounded-sm px-2 font-medium justify-start py-1.5 h-fit text-base",
		className
	)}
	href={url}
	target={external ? "_blank" : "_self"}>
	<span>
		{icon && <Icon icon={icon} size="18px" />}
	</span>
	{label}
</LinkNav>
<style>
	span {
		@apply flex h-5 w-5 items-center;
	}
</style>
