---
import { LINKSNAV, SITE, SOSIALLINK } from "@/config";
import Icon from "./icon.astro";
import { Sidebar } from "./sidebar";
import MobileLinkNav from "./mobile-link-nav.astro";
---

<Sidebar client:visible>
	<div slot="button">
		<Icon icon="split" class="group-hover:hidden group-aria-expanded:hidden" />
		<Icon icon="splitFiled" class="hidden group-hover:block group-aria-expanded:block" />
	</div>
	<div>
		<div class="mt-4 space-y-4">
			<div class="flex flex-col pt-4">
				{LINKSNAV.map(({ ...props }) => <MobileLinkNav {...props} />)}
			</div>
			<div class="flex flex-col pt-4">
				{SOSIALLINK.map(({ ...props }) => <MobileLinkNav {...props} />)}
			</div>
		</div>
	</div>
</Sidebar>
