<nav
	class="text-base-content sticky top-0 border-neutral-300 py-4 font-semibold bg-blend-overlay dark:border-neutral-800 [&.active]:z-10 [&.active]:border-b [&.active]:bg-neutral-100/50 [&.active]:shadow-sm [&.active]:backdrop-blur [&.active]:dark:bg-neutral-950/50"
	id="navbar">
	<div class="container max-w-5xl">
		<ul class="navItems inline-flex gap-6">
			<li class="active">
				<a class="link" href="#top">Home</a>
			</li>
			<li>
				<a class="link" href="#skills">Skills</a>
			</li>
			<li>
				<a class="link" href="#education">Education</a>
			</li>
			<li>
				<a class="link" href="#project">Project</a>
			</li>
		</ul>
	</div>
</nav>

<style>
	.link:hover,
	.active > .link {
		@apply text-orange-600;
	}

	.active > .link {
		@apply underline underline-offset-2;
	}
</style>

<script>
	$(window).on("scroll", function () {
		const navbar = $("#navbar");
		if ($(window).scrollTop() >= navbar.offset().top) {
			navbar.addClass("active");
		} else {
			navbar.removeClass("active");
		}
	});
	$(".navItems").onePageNav({
		currentClass: "active",
		changeHash: true,
		scrollSpeed: 500,
		scrollThreshold: 0.2,
		scrollOffset: 0,
		filter: "",
		easing: "swing",
	});
</script>
