---
import Navbar from "./Navbar.astro";
---

<div id="site-heading" class="container max-w-7xl">
	<div class="min-h-screen w-full">
		<header class='min-h-[56px]"'>
			<Navbar />
		</header>
		<slot />
	</div>
</div>
