---
import Heading from "./Heading.astro";
import Navbar from "./Navbar.astro";
---

<div id="site-heading">
	<div class="relative min-h-screen w-full overflow-x-hidden">
		<header class='min-h-[56px]" container mx-auto'>
			<Navbar />
		</header>
		<Heading />
	</div>
</div>
