---
import { Icon } from "astro-iconify";
---

<button
	class="inline-flex h-8 w-8 items-center justify-center hover:text-orange-600"
	id="theme-button"
	aria-label="theme-button">
	<Icon size="18" name="lucide:moon" class="block dark:hidden" />
	<Icon size="18" name="lucide:sun" class="hidden dark:block" />
</button>

<script>
	$("#theme-button").on("click", function () {
		if ($("html").attr("data-theme") === "light") {
			$("html").attr("data-theme", "dark");
			localStorage.setItem("ui-theme", "dark");
		} else {
			$("html").attr("data-theme", "light");
			localStorage.setItem("ui-theme", "light");
		}
	});
</script>
