---
import "@/assets/styles/globals.css";
import { SEO } from "astro-seo";
import { SITE } from "@/config";

interface Props {
	title?: string;
	class?: string;
	description?: string;
	image?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<SEO
			charset="UTF-8"
			title={title}
			titleDefault={SITE.title}
			titleTemplate={SITE.title + " - %s"}
			description={description}
			extend={{
				link: [{ rel: "icon", href: "/favicon.svg" }],
				meta: [{ name: "viewport", content: "width=device-width" }],
			}}
			openGraph={{
				basic: {
					title: SITE.title,
					type: "website",
					image: "images/profile_pict_3.jpg",
				},
				optional: {
					description: description,
				},
			}}
		/>
		<slot name="head" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
