---
import Head from "@/components/head.astro";
import Footer from "@/components/footer.astro";
import MainHeader from "@/components/main-header.astro";
import "@/styles/globals.css";
import { cn } from "@/lib/utils";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	className?: string;
}
const { title, description, image, className } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<Head title={title} description={description} image={image} />
		<slot name="head" />
		<script is:inline>
			const setDarkMode = () => {
				const currentTheme = localStorage.getItem("ui-theme") || "dark";
				if (currentTheme === "light") {
					document.documentElement.classList.remove("dark");
				} else {
					document.documentElement.classList.add("dark");
				}
			};
			setDarkMode();
			document.addEventListener("astro:after-swap", setDarkMode);
		</script>
	</head>
	<body class="min-h-screen font-sans">
		<div class="relative flex min-h-screen flex-col">
			<MainHeader />
			<div class="flex-1">
				<div class={cn("container relative", className)}>
					<slot />
				</div>
			</div>
			<Footer />
		</div>
	</body>
</html>
