---
import "../styles/globals.css";
import { SEO } from "astro-seo";
import { SITE } from "../config";
import defaultImage from "../assets/images/profile_pict_3.jpg";

interface Props {
	title?: string;
	class?: string;
	description?: string;
	image?: string;
}

const { title, description, image = defaultImage.src } = Astro.props;
---

<html lang="en">
	<head>
		<SEO
			charset="UTF-8"
			title={title}
			titleDefault={SITE.title}
			titleTemplate={SITE.title + " - %s"}
			description={description}
			extend={{
				link: [{ rel: "icon", href: "/favicon.svg" }],
				meta: [{ name: "viewport", content: "width=device-width" }],
			}}
			openGraph={{
				basic: {
					title: SITE.title,
					type: "website",
					image: image,
				},
				optional: {
					description: description,
				},
			}}
		/>
		<slot name="head" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js"
			integrity="sha512-I1SRWCuHnqVwlUXfm2TNMDduALHE1LfFpbQtFPY2z33Jy0iJAEXBDgrRrBLbpVChGclfCB0Hfy0F8wLVJtIVPQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"></script>
		<script is:inline>
			const setDarkMode = () => {
				const currentTheme = localStorage.getItem("ui-theme") || "dark";
				document.documentElement.setAttribute("data-theme", currentTheme);
			};
			setDarkMode();
		</script>
	</head>
	<body class="bg-neutral-100 text-neutral-700 dark:bg-neutral-950 dark:text-neutral-400">
		<slot />
	</body>
</html>
