---
import "../styles/globals.css";
import { SEO } from "astro-seo";
import { SITE } from "../config";
import defaultImage from "../assets/images/profile_pict_3.jpg";

interface Props {
	title?: string;
	class?: string;
	description?: string;
	image?: string;
}

const { title, description, image = defaultImage.src } = Astro.props;
---

<html lang="en">
	<head>
		<SEO
			charset="UTF-8"
			title={title}
			titleDefault={SITE.title}
			titleTemplate={SITE.title + " - %s"}
			description={description}
			extend={{
				link: [{ rel: "icon", href: "/favicon.svg" }],
				meta: [{ name: "viewport", content: "width=device-width" }],
			}}
			openGraph={{
				basic: {
					title: SITE.title,
					type: "website",
					image: image,
				},
				optional: {
					description: description,
				},
			}}
		/>
		<slot name="head" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline>
			const setDarkMode = () => {
				const currentTheme = localStorage.getItem("ui-theme") || "dark";
				document.documentElement.setAttribute("data-theme", currentTheme);
			};
			setDarkMode();
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
