---
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
	title?: string;
	description?: string;
	error?: boolean;
}

const { title, description, error } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body class="relative overflow-hidden text-neutral-900">
		<div
			class="flex h-screen px-6 bg-gradient-to-tl from-orange-600 via-pink-600 to-blue-800"
		>
			<div class="flex flex-col w-full my-6 border rounded border-white/50">
				<Navbar />
				<main
					class="relative z-0 w-full h-full overflow-auto backdrop-blur-lg bg-white/30 drop-shadow-lg"
				>
					<slot />
				</main>
				<Footer error={error} />
			</div>
		</div>
	</body>
</html>
